# Required for real AI generation
GEMINI_API_KEY=AQ.Ab8RN6JURjL3-nptQWhA_XKWsatGQW2mAgACcjOhpSaJRhVfhA

# Optional: default Gemini model. Change anytime from server env.
GEMINI_MODEL=gemini-2.5-flash

# Optional: for YouTube live data features
YOUTUBE_API_KEY=AIzaSyBN1UVGlSw2EhsciikRWbyckJfvOTLXdBI

# Server
PORT=3000
NODE_ENV=development
